<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://discbox.local/DiscBoxDVD" version="1.0.0" viewmodes="maximized">
  <tizen:application id="DBoxDVD001.DiscBoxDVD" package="DBoxDVD001" required_version="5.5"/>
  <content src="index.html"/>
  <icon src="icon.png"/>
  <name>DiscBox</name>
  <author>JoshKo007</author>
  <description>DiscBox MP4 1.0.0: películas desde USB, versiones por idioma, subtítulos SRT/VTT y fichas XML.</description>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <access origin="*" subdomains="true"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
  <tizen:privilege name="http://tizen.org/privilege/externalstorage"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:profile name="tv-samsung"/>
  <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable" pointing-device-support="disable"/>
</widget>
